*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
    color: white;
    text-decoration: none;
  
}
.container{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-bottom: 15px;
    background-color: black;
    z-index: 1;
    padding: 9px 9px 13px 9px;
   
}
.logo-section{
    display: flex;

}
.logo-section i{
    font-size: 18px;
    padding: 10px;
  margin: 0 15px 0 10px;
    
}
.logo{
    font-family: sans-serif ;
    display: flex;
    align-items: center;

}
.logo img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.middle-section{
    display: flex;
    
}

.input-search-sec{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    outline: none;
     background-color: rgb(42, 42, 43);
    border: 1px solid rgb(48, 46, 46);
    margin-right: 10px;
}
.input-search-sec:hover{
      background-color: rgb(59, 59, 59);
   transition: ease-in 0.3s;
}
.input-search-sec input {
   outline: none;
    background: transparent;
    padding-left: 20px;
    width:550px;
    height: 40px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
   border: 1px solid rgb(97, 97, 97);
   background-color: black;
}
.input-search-sec input[type=search]:focus{
    border: 0.3px solid rgb(4, 126, 197);
    color: white;
}
.input-search-sec input{
    font-size: 17px;
}
.input-search-sec i{
    font-size: 20px;
    margin-left: 15px;
   padding-right: 15px;
   
}
.voice{
    width:40px;
    height: auto;
    background-color: rgb(42, 42, 43);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.voice:hover{
   background-color: rgb(59, 59, 59);
   transition: ease-in 0.3s;
}
.voice i{
    font-size: 18px;
  
}
.account-section{
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.account-section div{
    margin-left:10px;
}
.account{
    width: fit-content;
    height: fit-content;
    background-color: rgb(42, 42, 43);
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    text-align: center  ;
    font-size: 17px;

}
.account:hover{
   background-color: rgb(59, 59, 59);
   transition: ease-in 0.3s;
}
.account i{
    margin-right: 5px;
}
.account p{
    margin-right: 5px;
}
main{
    padding-top: 10px;
}
.middle{
    display: flex;
    
    
}
.middle-sec{
    position: fixed;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 60px;
    z-index: 2;
    
}
main{
    display: flex;
    width: 100%;
    
}

.box-content{
    width: fit-content;
    height: fit-content;
    
}
.content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.content i {
    font-size: 13px;
}
.content a{
    font-size: 12px;
    display: flex;
   
    
    
}
.content img{
    width: 18px;
    height: 18px;
}
.tag-content{
    padding: 7px;
    background-color: rgb(51, 49, 49);
    font-size: 15px;
    margin: 6px;
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tag-content:hover{
   background-color: rgb(59, 59, 59);
   transition: ease-in 0.3s;
}
.suggest-list{
    display: flex;
    position: fixed;
    padding-left: 80px;
    width: 100%;
    background-color: black;
    margin-top: 40px;
    padding-bottom: 20px;
    z-index: 1;
}
.vedio-list{
    width: 100%;
  display: grid;
  padding-top: 110px;
  padding-left: 70px;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 15px; */
  
}
.thambunale img{
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}
.vedio-content{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
.thambunale img:hover{
    border-radius:0;
    transition: ease-in 0.13s;
}
.middle-second{
    padding: 15px;
}
.channel-profile img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.channel-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.first-data{
    display: flex;
}
.profile-img{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.title-sec p{
    font-size:15px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(175, 175, 175);
   
}
.bottom-sec{
    position: relative;
    padding-left: 145px;
    
}
